body, html {
    height: 100%;
}

#loginForm {
    padding: 5px;
    margin: 0px;
    height: 100px;
    background-color: lightgray;
    position: absolute;
    top: 0px;
    right: 0px;
    border: none;
}

#chatInterface {
    display: none;
    height: 100%;
    width: 100%;
}

#log {
    background-color: black;
    color: white;
    font-family: monospace;
    height: 100%;
    width: 100%;
}

#say {
    width: 100%;
    position: relative;
    top: -4px;
    left: -1px;
}

#loginBtn {
    width: 100%;
}